cumulus-tf/ingest-and-publish-granule-workflow.asl.json
{
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "Comment": "Ingest Granule",
          "StartAt": "SyncGranule",
          "States": {
            "SyncGranule": {
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "ReplaceConfig": {
                    "Path": "$.payload",
                    "TargetPath": "$.payload"
                  },
                  "task_config": {
                    "buckets": "{$.meta.buckets}",
                    "provider": "{$.meta.provider}",
                    "collection": "{$.meta.collection}",
                    "stack": "{$.meta.stack}",
                    "downloadBucket": "{$.meta.buckets.download.name}",
                    "duplicateHandling": "{$.meta.collection.duplicateHandling}",
                    "pdr": "{$.meta.pdr}",
                    "cumulus_message": {
                      "input": "{$.payload}",
                      "outputs": [
                        {
                          "source": "{$.granules}",
                          "destination": "{$.meta.input_granules}"
                        },
                        {
                          "source": "{$}",
                          "destination": "{$.payload}"
                        },
                        {
                          "source": "{$.process}",
                          "destination": "{$.meta.process}"
                        }
                      ]
                    }
                  }
                }
              },
              "Type": "Task",
              "Resource": "${sync_granule_task_arn}",
              "Next": "AddMissingFileChecksums",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3
                }
              ]
            },
            "AddMissingFileChecksums": {
              "Type": "Task",
              "Resource": "${add_missing_file_checksums_task_arn}",
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "ReplaceConfig": {
                    "Path": "$.payload",
                    "TargetPath": "$.payload"
                  },
                  "task_config": {
                    "algorithm": "md5",
                    "cumulus_message": {
                      "input": "{$.payload}",
                      "outputs": [
                        {
                          "source": "{$.granules}",
                          "destination": "{$.meta.input_granules}"
                        },
                        {
                          "source": "{$}",
                          "destination": "{$.payload}"
                        }
                      ]
                    }
                  }
                }
              },
              "Next": "MoveGranule"
            },
            "MoveGranule": {
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "ReplaceConfig": {
                    "FullMessage": true
                  },
                  "task_config": {
                    "bucket": "{$.meta.buckets.download.name}",
                    "buckets": "{$.meta.buckets}",
                    "distribution_endpoint": "{$.meta.distribution_endpoint}",
                    "collection": "{$.meta.collection}",
                    "duplicateHandling": "{$.meta.collection.duplicateHandling}"
                  }
                }
              },
              "Type": "Task",
              "Resource": "${move_granules_task_arn}",
              "Next": "UpdateMetadataFileLinks",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ]
            },
            "UpdateMetadataFileLinks": {
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "task_config": {
                    "buckets": "{$.meta.buckets}",
                    "distribution_endpoint": "{$.meta.distribution_endpoint}"
                  }
                }
              },
              "Type": "Task",
              "Resource": "${update_granules_cmr_metadata_file_links_task_arn}",
              "Next": "PublishMetadata",
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ]
            },
            "PublishMetadata": {
              "Parameters": {
                "cma": {
                  "event.$": "$",
                  "ReplaceConfig": {
                    "FullMessage": true
                  },
                  "task_config": {
                    "bucket": "{$.meta.buckets.download.name}",
                    "stack": "{$.meta.stack}",
                    "cmr": "{$.meta.cmr}",
                    "launchpad": "{$.meta.launchpad}"
                  }
                }
              },
              "Type": "Task",
              "Resource": "${post_to_cmr_task_arn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ]
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Failed",
          "ResultPath": "$.exception"
        }
      ],
      "End": true
    },
    "Failed": {
      "Type": "Fail",
      "Cause": "Workflow failed"
    }
  }
}
